body {
    padding: 0;
    margin: 0;
}

.content {
    background-color: #121212;
    color: #fff;

    display: flex;
    height: 100vh;
}

#searchbox {
    background-color: #242424;
    color: #e6e3e0;

    border: 2px solid #363636;

    font-family: monospace;
    text-align: left;

    margin: auto;
    padding: 3px;
}
