:root {
    --bg:  #1D1E18; /* Background */
    --fg:  #F5F5F5; /* Foreground */
    --fbg: #282923; /* Footer background */
    --a:   #74AFB8; /* Link */
}

/* Make sure the html and body fill the whole page */
html, body {
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-family: sans-serif;
}

/* Flex all the things */
body, footer, article, header {
    display: flex;
    flex-direction: column;
}

body {
    align-items: stretch;

    padding: 0;
    margin: 0;

    background-color: var(--bg);
    color: var(--fg);
}

header {
    background-color: var(--fbg);
}

article {
    flex-grow: 1;
    align-self: center; /* Because of max-width */

    max-width: 40em;
    padding: 0em 1em;
}

footer {
    align-items: center;

    background-color: var(--fbg);
}

a {
    color: var(--a);
    text-decoration: none;
}
