<!doctype html>
<html lang="en">
    <head>
        <title>Mattfolk.xyz</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for("static", filename="style.css") }}"
        >
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script
            src="https://kit.fontawesome.com/e9e4158ea2.js"
            crossorigin="anonymous"
        >
        </script>
    </head>
    <body>
        <header>{% include "header.html" %}</header>
        <article>{{ content | safe }}</article>
        <footer>{% include "footer.html" %}</footer>
    </body>
</html>
