<!doctype html>
<html lang="en">
    <head>
        <title>Mattfolk.xyz</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for("static", filename="style.css") }}"
        >
        <meta charset="utf-8" />
        <script type="text/javascript">
        </script>
    </head>
    <body>
        <header>
            <h1>
                mattfolk.xyz
            </h1>
        </header>
        <article>
            {{ content | safe }}
        </article>
        <footer>
            Want the source code? Find it on&nbsp;
            <a href="https://github.com/EMattfolk/mattfolk.xyz">GitHub</a>.
        </footer>
    </body>
</html>
