<style type="text/css">
#footer-div {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    max-width: 40em;
}
.footer-item {
    margin: 0.5em;
    padding: 0em;
}
</style>

<div id="footer-div">
    <h2 class="footer-item">Links</h2>
    <p class="footer-item">
        <a href="https://github.com/EMattfolk/mattfolk.xyz">Website</a>
    </p>
    <p class="footer-item">
        <a href="https://github.com/EMattfolk">Github</a>
    </p>
    <p class="footer-item">
        <a href="mailto:erik.mattfolk@gmail.com">Email</a>
    </p>
</div>
