<style type="text/css">
nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.nav-tab {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    max-width: 8em;

    color: var(--fg);
}

.nav-tab:hover {
    text-decoration: underline;
}

.selected {
    background-color: var(--bg);
}
</style>
<h1 style="align-self: center;">
    Mattfolk.xyz
</h1>
<nav>
    {% for title, url in navigation %}
    {% set selected = "selected" if title.lower() == page else "" %}
    <a href="{{ url }}" class="nav-tab {{ selected }}">
        <h3>{{ title }}</h3>
    </a>
    {% endfor %}
</nav>
