<html>
    <head>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for("static", filename="style.css") }}"
        >
        <script type="text/javascript">
        </script>
    </head>
    <body>
        <header>
            <h1>
                mattfolk.xyz
            </h1>
        </header>
        <article>
            <p>
                Hello, Welcome to my website!
            </p>
        </article>
        <footer>
            <a href="https://github.com/EMattfolk/mattfolk.xyz">
                Source code
            </a>
        </footer>
    </body>
</html>
